@import "tailwindcss";

@layer base{
  body{
    @apply bg-black text-white relative font-sans h-screen overflow-x-hidden
  }
}

.no-top{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.custom-shape-divider-top-1754827549 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1754827549 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1754827549 .shape-fill {
    fill: #FFFFFF;
}